#title {
	min-height: 100%;
	min-width: 100%;
	position: absolute;
	background: rgb(142,19,69) no-repeat center center fixed;
	padding-bottom: 50px;
	/*  -webkit-background-size: cover;
	 -moz-background-size: cover;
	 -o-background-size: cover;
	 background-size: cover;*/
}

#about {
	min-height: 100%;
	min-width: 100%;
	position: absolute;
	top: 100%;
	background: url(../photos/20121121_155642.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

h1 {
	font-family: "sybil green";
}

h2, h3{
	font-family: "code pro demo";
}

h3{
	line-height: 130%;
}


h1#heading {
	padding-top: 5%;
	font-size: 120pt;
	color: #7befb1;
	text-align: center;
}


.headingtwo{
	margin-bottom: 20px;
}

.rowOdd {
	transition: 2s;
	padding-left: 10px;
	background: rgb(15,15,15);
	color: rgb(179,122,24);
	position: relative;
	z-index: 1;
}

.rowOdd:hover{
	cursor: pointer;
	}

.rowEven {
	transition: 2s;
	padding-left: 10px;
	background: rgb(233,158,28);
	z-index: 1;
}
.rowEven:hover{
	cursor: pointer;
	}

.elaborate {
	/*	border-width: 0px 0px 2px 0px;
	 border-style: solid;
	 border-color: black;*/
	padding: 10px;
	display: none;
	/*	background: url("../photos/20120917_184210.jpg") fixed;*/
	background-size: cover;
	clear: both;
}


.imageHover{
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.6);
/*top: -10px;*/
position: relative;
display: none;
cursor: pointer;

}

.videos-expand{
	padding-top: 10%;
}

.heading3bg {
	background: rgba(128, 68, 22, 1.0);
	text-align: center;
	z-index: 1;
		color: rgb(233,200,135);
		position: absolute;
		width: 100%;
bottom: 10%;
}

.heading{
width: 20%;
left: 70%;
margin-top: 100px;
	position: relative;
	text-align: center;
}

.overlay{
	background: url(../resources/general/diagonal_stripes.png) rgba(0,0,0,0.8);
		color: rgb(233,200,135);
		width: 30%;
left: 65%;
		position: relative;
		padding: 10px;
		top: -10px;
}

.heading:hover{
	cursor: default;
}

.description-bg {
	background: url(../resources/general/diagonal_stripes.png) rgb(142,19,69);
	padding: 10px;
	overflow: hidden;
	width: 55%; /*used to be 78%*/
	left: 22%;
	position: relative;
	top: -20px;
	display: none;
}

.description-expand{
	display: none;
	background: rgba(0,0,0,0.9);
	position: absolute;
	z-index: 3;
	padding: 20px 20% 20px 15%;
	color: rgb(233,200,135);
}

.icon-prev-position{
	position: absolute;
top: 45%;
left: 10%;
height: 40px;
width: 40px;
}

.icon-prev-position, .icon-next-position, .icon-close:hover{
	cursor:pointer;
}

.icon-close{
	position: absolute;
right: 10%;
width: 25px;
height: 25px;
	
}

.icon-next-position{
	position: absolute;
top: 45%;
right: 10%;
height: 40px;
width: 40px;
}


/*.columnlist {
	width: 65%;
	left: 20%;
	position: relative;
	/*background: url("../resources/general/diagonal_stripes.png");
}*/

#code{
	width: 30%;
	left: 22%;
	position: relative;
}

#design{
		width: 30%;
	left: 40%;
	position: relative;
	
}

#mediaa {
	width:30%;
	left:30%;
	position: relative;
}

#writing{
	width:30%;
	left:50%;
	position: relative;
	
}

/*#code-thumbnails{
	display:none;
}*/


.small-images{
	width: 200px;
	height: 200px;
		box-shadow: 0 0 10px #222;
	border-radius: 5px;
	float: left;
	margin: 10px;
	padding-top: -10px; 
}

/*.images {
		background-size: contain;
	width: 70%;
	height: 90%;
	position: relative;
	border-radius: 5px;
	float: left;
	margin: 10px;

}*/


.images-container{
	width: 70%;
	height: 90%;
	position: relative;
	vertical-align: middle;
	float: left;
	text-align: center;
}

.poem-title{
left: -60%;
top: -10%;
position: relative;
transform: rotate(270deg);
-ms-transform: rotate(270deg);
-webkit-transform: rotate(270deg);
}

.writing-small-container{
	margin-top: 20%;
}
.writing-container{
	width: 100%;
	height: 90%;
	overflow: auto;
	columns: 2;
	-webkit-columns: 2;
	-moz-columns: 2;
	
}

.images-expand{
	border-radius: 5px;
	max-height: 100%;
}

.posters {
	border-radius: 5px;
	width: 80%;
	height: 500px;
}

.description {
	height: 90%;
	padding: 20px 10px 10px 10px;
	overflow-y: auto;
}

#geekdo {
	background: url(../resources/code/geekdo.PNG) no-repeat;
}

#gg {
	background: url(../resources/code/gg.PNG) no-repeat;
}

#voxelab {
	background: url(../resources/code/voxelab.png) no-repeat left center;
	background-size: cover;
}

#itemgenie {
	background: url(../resources/code/itemgenie.PNG) no-repeat;
	background-size: cover;
}

#pinata {
	background: url(../resources/code/pinata.PNG) no-repeat center top;
	background-size: cover;
}

#card {
	background: url(../resources/code/card.PNG) no-repeat center top;
	background-size: cover;
}

#cwc {
	background: url(../resources/design/cwc.jpg) no-repeat;
	background-size: cover;
}

#agm{
background: url(../resources/design/AGM.png) no-repeat;
	background-size: cover;
}

#orientation{
background: url(../resources/design/orientation.jpg) no-repeat center bottom;
	background-size: cover;
}

#welcometea2012{
	background: url(../resources/design/welcometea2012.PNG) no-repeat center center;
	background-size: cover;
}

#welcometea2013{
	background: url(../resources/design/welcometea2013.png) no-repeat center center;
	background-size: cover;
}
#curious{
	background: url(../resources/media/curious.PNG) no-repeat center top;
	background-size: cover;
}

#mnm{
	background: url(../resources/media/mnm.PNG) no-repeat center top;
	background-size: cover;
}

#job{
	background: url(../resources/media/job.PNG) no-repeat center top;
	background-size: cover;
}

#makingofmelody{
	background: url(../resources/media/makingofmelody.PNG) no-repeat center center;
	background-size: cover;
}

#forest{
	background: url(../resources/writing/forest.jpg) no-repeat;
	background-size: cover;
}

#summer{
	background: url(../resources/writing/summer.jpg) no-repeat;
	background-size: cover;
}

#nightlife{
	background: url(../resources/writing/nightlife.jpg) no-repeat;
	background-size: cover;
}

#excesstime{
	background: url(../resources/writing/excesstime.jpg) no-repeat;
	background-size: cover;
}

#navigation{
	background: url(../resources/writing/navigation.jpg) no-repeat;
	background-size: cover;
}

#room{
	background: url(../resources/writing/room.jpg) no-repeat;
	background-size: cover;
}

#sleepingheart{
	background: url(../resources/writing/sleepingheart.JPG) no-repeat center center;
	background-size: cover;
}

#staircases{
	background: url(../resources/writing/staircases.jpg) no-repeat;
	background-size: cover;
}

#vignettes{
	background: url(../resources/writing/vignettes.jpg) no-repeat;
	background-size: cover;
}

#watertank{
	background: url(../resources/writing/watertank.jpg) no-repeat right center;
	background-size: cover;
}
#impact{
	background: url(../resources/writing/impact.jpg) no-repeat;
	background-size: cover;
}

body {
	font-family: "Segoe UI";
	font-size: 10pt;
}

@font-face {
	font-family: "sybil green";
	src: url('../fonts/sybilgreen.otf' format("opentype");
}

@font-face {
	font-family: "code pro demo";
	src: url('../fonts/Code_Pro_Demo.otf') format("opentype");
}

@font-face {
	font-family: "Segoe UI";
	src: url('../fonts/segoeui.ttf') format("opentype");
}
